stages:
  - verify
  - release

variables:
  MAVEN_CLI_OPTS: "-B -U"
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

default:
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      alias: docker
  tags:
    - docker

verify:
  image: maven:3.9.4-eclipse-temurin-21
  stage: verify
  parallel:
    matrix:
      - PROJECT: BackendSWT
      - PROJECT: mqtt-connector
  script:
    - cd $PROJECT
    - mvn $MAVEN_CLI_OPTS verify

release:
  stage: release
  rules:
  parallel:
    matrix:
      - PROJECT: BackendSWT
      - PROJECT: mqtt-connector
  script:
    - cd $PROJECT
    - export IMAGE_NAME="registry.gitlab.com/$CI_PROJECT_PATH/$PROJECT"
    - export IMAGE_TAG="$CI_COMMIT_SHORT_SHA"
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker push $IMAGE_NAME:$IMAGE_TAG
  only:
    - main
