version: '3.8'

services:
  backend-stadt:
    build:
      context: ./backend-stadt
      dockerfile: Dockerfile
    image: backend-stadt:latest
    ports:
      - "8080:8080"

  kidsapp-application:
    build:
      context: ./kidsapp-application
      dockerfile: Dockerfile
    image: kidsapp-application:latest
    ports:
      - "8081:8080"

  mqtt-connector:
    build:
      context: ./mqtt-connector
      dockerfile: Dockerfile
    image: mqtt-connector:latest
    ports:
      - "8082:8080"
