.user-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 1fr 1.5fr 2fr;
    grid-template-rows: 32px repeat(auto-fill, 60px);
    align-items: center;
    margin-top: 1em;
}

.user-grid > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    border: 1px solid #ccc;
    height: 100%;
    text-align: center;
}

.header {
    font-weight: bold;
    background: #f0f0f0;
}



.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}



.unsaved-note {
    display: inline;
    color: orange;
    font-size: 0.8em;
    margin-left: 0.5rem;
}

.validation-error {
    display: inline;
    color: red;
    font-size: 0.8em;
    margin-left: 0.5rem;
}

.delete-button {
    margin-left: 8px;
    background-color: #e74c3c;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c0392b;
}

