
body{
    margin: 1em;
}

section{
    background: #E7EAEF;
    border-radius: 10px;
    padding: 1em;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    background: #EDC5AB;
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    font-size: 1em;
    background: #8B9D77;
    padding: 8px;
    padding-inline: 16px;
    margin: 1em;
    border: 2px solid #E7EAEF;
    border-radius: 8px;
}

button:hover{
    border-color: #37745B;
}

main, #content-section{
    height: 100%;
}

h2{
    margin-top: 0 ;
}
.offer-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em 0;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.offer-summary {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f5f5f5;
    font-weight: bold;
}

.offer-details {
    display: none;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;
    font-size: 0.9em;
}

.offer-card.expanded .offer-details {
    display: grid;
}