name: Pre Merge Checks

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        jdk: [21]
        project:
          - backend-stadt
          - mqtt-connector

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4.5.0
        with:
          distribution: temurin
          java-version: ${{ matrix.jdk }}
          cache: maven

      - name: Build & test ${{ matrix.project }} with Maven
        working-directory: ./${{ matrix.project }}
        run: mvn --batch-mode --update-snapshots verify

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build ${{ matrix.project }} image (PR)
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.project }}
          file: ./${{ matrix.project }}/Dockerfile
          push: false
          tags: ${{ matrix.project }}:pr-${{ github.event.pull_request.number }}
